.video__card{
color:blanchedalmond;
width: 500px;
height: 400px;
padding: 20px;
transition: transform 100ms ease-in-out;

}

.video__card:hover{
   transform: scale(1.09);
}

.video__card >img{
   height:300px;
   object-fit: contain;
   width: 500px;
}

.video__card>h2{
   padding-top: 10px;
}

.videoCard__stats{
   display: none;
}
.video__card:hover > .videoCard__stats{
   display:inline;
   display: flex;
   justify-content:flex-start;

   align-items: center;
}
p >.thump__up{
   padding-left: 10px;
   padding-right: 5px;
   padding-top: 5px ;
   color: rgb(117, 228, 135);}